@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*,*::before,*::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
:root{
    --azure-bg:#77D9E4;
    --grey-bg:#6F757B;
    --dark-grey:rgba(65, 74, 82, 1);
    --navbar-bg:rgba(65, 74, 82, .1);
    --text-color:#CACBCC;
    font-family: 'Ubuntu', sans-serif;
}
body, input, button, select, option, textarea {
    font-family: 'Ubuntu', sans-serif;
}
h1,h2{
    font-size:4em;
}
h3{
    font-size:2em;
    font-weight: 400;
    margin-bottom:2rem;
}
h3::after{ /* All H3's have a black line underneath them */
        content:"";
        display:block;
        position: absolute;
        width:100px;
        height:2px;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        margin-top:1rem;
        background:#222;
}

/*** Header/Navbar CSS ***/

.header{
    display:table;
    background: url(images/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width:100%;
    height:100vh;
    color:var(--text-color);
}
.navbar{
    position: fixed;
    top:0;
    width:100%;
    padding:1.5rem 0;
    background: var(--navbar-bg);
    transition:all .5s linear;
    z-index: 1;
}
.navbar ul{
    display:flex;
    list-style: none;
    justify-content: flex-end;
    padding-right:5rem;
}
.navbar ul li{
    padding:1rem;
}
li.active a{
    color:var(--azure-bg);
}
.navbar a{
    text-decoration:none;
    color:var(--text-color);
}
.navbar a:hover{
    color:var(--azure-bg);
}

.fixed-navbar{   /* Activates on scroll */
   --navbar-bg:rgba(65, 74, 82, 1);
    background: var(--navbar-bg);
    padding:0;
    /* transition:all .3s linear; */
}

.heading {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
    align-items: center;
}

.heading .btn__learn-more{
    color:var(--dark-grey);
    background:var(--azure-bg);
}
.heading .btn__learn-more:hover{
    color:var(--azure-bg);
    background:var(--dark-grey);
}


/***** About CSS *****/

.about{
    height:70vh;
    background: #77D9E4;
    text-align: center;
    color:var(--dark-grey);
    padding:4rem;
}

/*** Portfolio CSS ******/

.portfolio{
    background:var(--grey-bg);
    text-align: center;
    color:var(--azure-bg);
    padding:4rem;
    height:auto;
}

/**** Projects CSS *****/

.projects-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project{
    width:350px;
    height:auto;
    cursor: pointer;
    position: relative;
    transition:all .2s linear;
    margin:.5rem;
}
.project:hover{
    transform:scale(1.1,1.1);
}
.project img{
    width:100%;
    height:100%;
}
.img-overlay{
    width:100%;
    height:100%;
    box-sizing: border-box;
    background:rgba(65, 74, 82, 0);
    position: absolute;
    top:0;
    left:0;
}
.img-overlay:hover{
    background:rgba(65, 74, 82, .5);
}
.img-overlay a{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;
    padding:1rem 2rem;
    background:var(--azure-bg);
    border-radius:30px;
    transition:all .3s linear;
    text-decoration:none;
    color:white;
}
.img-overlay:hover a{
    opacity:1;
}

/*** Contact CSS ****/

.contact{
    height:600px;
    background:var(--azure-bg);
    text-align: center;
    color:var(--dark-grey);
    padding:4rem;
}
.social-items{
    width:100%;
    display:flex;
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items:center;
    margin-bottom:2rem;
}
.social-items div{
    width:40px;
    margin:2rem 1rem 0 1rem;
}
.social-items i:hover{
    /* transform:scale(1.1,1.1); */
    color:lightcyan;
}
.social-items i{
    color:var(--dark-grey);
    transition: color .2s linear;
}

/**** Footer CSS ***/

footer{
    height:70px;
    background: #222;
    /* text-align: center; */
    display:flex;
    justify-content: center;
    align-items:center;
    color: var(--grey-bg);
}

/*** Button CSS ***/
.btn{
    margin-top:3rem;
    padding:1em;
    display:inline-block;
    text-decoration:none;
    color:var(--azure-bg);
    background:var(--dark-grey);
}
.btn:hover{
    opacity:.9;
}

/**** Burger Menu CSS ****/

.menu-toggle{
    top:.4rem;
    right:20px;
    cursor: pointer;
    padding:12px 8px;
    display:none;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content:"";
    display:block;
    height:3px;
    width:2rem;
    background:var(--text-color);
    border-radius:4px;
    transition: all .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    /* position: absolute; */
}
.hamburger::before{
    position:relative;
    bottom:8px;
}
.hamburger::after{
    position: relative;
    top:6px;
}
.close.hamburger::before{
    opacity:0;
}
.close.hamburger{
    transform:rotate(45deg);
}
.close.hamburger::after{
    transform:translateY(-9px) rotate(-90deg);
}


/***** Scroll to Top Button CSS ***/

.scroll-top{
    display: none;
    position:fixed;
    bottom:12px;
    right:24px;
    border-radius:50%; 
    border: 1px solid transparent;
    background:var(--dark-grey);
    width:48px;
    height:48px;
    display:none;
    color:var(--text-color);
    cursor: pointer;
    /* transition: all .3s linear; */
}
.scroll-top:hover{
    color:#e3e7ed;
    background:#91a1ba;
}

.scroll-top i{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding-bottom:4px;
}

/***** Form CSS ******/
.form{
    width:60%;
    margin:100px auto;
    margin-bottom:0;
    /* overflow: hidden; */
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
    "text text text email email email"
    "textarea textarea textarea textarea textarea textarea"
    ". . button button . .";
    grid-gap:1rem;
}

input[type=text],input[type=email]{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222;
    background-color: rgba(255,255,255,0.8);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    width:100%;
}
input[type=text]{
    grid-area:text;
}
input[type=email]{
    grid-area:email;
}
textarea{
    grid-area:textarea;
    box-sizing:border-box;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222;
    background-color: rgba(255,255,255,0.8);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    width:100%;
}
.form-submit{
    border:none;
    grid-area:button;
    font-size: 16px;
    cursor: pointer;
    margin:0;
 }




/***** MEDIA QUERIES ****/
@media screen and (max-width:920px){
    .project{
        /* width:350px; */
        cursor: pointer;
        position: relative;
        margin:1rem;
        flex:1 100%;
        min-width:250px;
        max-width:600px;
    }
}
@media screen and (max-width:800px){
    .form{
        width:80%;
        grid-template-areas:
    "text text text text text text "
    "email email email email email email "
    "textarea textarea textarea textarea textarea textarea"
    ". button button button button .";
    }
    .menu-toggle{
        position: fixed;
        display:block; /* Show the hamburger menu */
    }
    .about{
        height:auto;
    }
    .navbar ul{
        /* display:block; */
        flex-direction: column; /* Flex items from top to bottom */
        text-align: left;
        margin:2.5rem 2rem;
        border-top:1px solid white; 
        margin-bottom:10px;
    }
    .navbar ul li{
        padding:.5rem;
    }
    .navbar{
        max-height:2.5rem; /* setting the height of navbar to be the same as it margin-top so it won't appear */
        overflow: hidden;
        transition:all .5s linear;
        padding:0;
    }
    .navbar.show{
        max-height:100%;
    }
}
@media screen and (max-width:470px){
    h1,h2{
        font-size:3em;
    }
    .form{
        width:100%;
    }
    .img-overlay a{
        font-size:.8em;
    }
    footer{
        justify-content: flex-start;
        padding-left:2rem;
    }

}
